{% extends "layout.html" %}
{% block content %}
<section id="main-content">
  <div class="columns features">
    <div class="one-fourth first">
      <h3>Fakruddin Mohammed</h3>
      <p><a href="#" class="more">Linked In</a></p>
    </div>
    <div class="one-fourth">
      <h3>John Baker</h3>
      
      <p><a href="#" class="more">Linked In</a></p>
    </div>
    <div class="one-fourth">
      <h3>Stefan Ulrich</h3>
      <p><a href="#" class="more">Linked In</a></p>
    </div>
	<div class="one-fourth">
      <h3>Vivek Mishra</h3>
     <p><a href="#" class="more">Linked In</a></p>
    </div>
  </div>
  
  <div class="columns features">
    <form action="#" method="post" id="contact-form">
      <textarea id="message" maxlength="10000" name="message" placeholder="Queries ?"></textarea>
      <div class="crayonico"></div>
      <input class="text-input" id="senderEmail" maxlength="50" name="email" placeholder="E-mail" type="email">
      <div class="emailico"></div>
      <input class="btn btn-input" id="sendMessage" name="sendMessage" type="submit" value="IM DONE">
    </form>
  </div>
<!--/section-->
<!--footer>
  <div class="copyright"><small>Copyright. All Rights Reserved | by <a target="_blank" rel="nofollow" href="#">Fakruddin, John, Stefan and Vivek</a>.</small></div>
</footer>
</body>
</html-->
{% endblock %}